<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing</h1>

    <form action="{% url 'save_input' %}" method="post">
        {% csrf_token %}
        <!-- <input type="hidden" value=140 name="id" id='id'> -->
        <label for="Pclass">Pclass:</label>
        <input type="number" name="pclass" id="pclass"> <br><br>
        <label for="Sex">Sex:</label>
        <input type="number" name="sex" id="sex"> <br><br>
        <label for="Age">Age:</label>
        <input type="number" name="age" id="age"> <br><br>
        <label for="Sibsq">Sibsp:</label>
        <input type="number" name="sibsq" id="sibsq"> <br><br>
        <label for="Parch">Parch:</label>
        <input type="number" name="parch" id="parch"> <br><br>
        <label for="Fare">Fare:</label>
        <input type="number" name="fare" id="fare"> <br><br>
        <label for="embC">embC:</label>
        <input type="number" name="embC" id="embC"> <br><br>
        <label for="embQ">embQ:</label>
        <input type="number" name="embQ" id="embQ"> <br><br>
        <label for="embS">embS:</label>
        <input type="number" name="embS" id="embS"> <br><br>
        <input type="submit" value="Submit">
    </form>

{% if prediction is not None %}
    {% if prediction == 1 %}
        <h2>Prediction: Yes</h2>
    {% else %}
        <h2>Prediction: No</h2>
    {% endif %}
{% endif %}
</body>
</html>